h1 {text-allign: center
width: 300px;
    text-align: center;
}

h1 {color: white;}

form {
    display: flex;
    margin-bottom: 20px;
}

button {color: blue;}
button {border-radius: 15%;}
button {background-color: lightblue;}
body {background-color: black;;}
ul {
    list-style-type: none;
    padding: 0;
}

#todo-form {
      display: flex;
      align-items: center;
      justify-content: center;
 }
